@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Quiz</h1>


넘어온 Id 값(ViewData) : @ViewData["Id"]<br />
넘어온 Id 값(ViewBag) : @ViewBag.Id<br />

넘어온 Page 값(ViewBag) : @ViewBag.Page<br />
넘어온 Page 값(ViewData) : @ViewData["Page"]<br />

<hr />

<form action="/Basic/Quiz" method="post">
    <input type="text" name="answer" value="" />
    <input type="submit" name="btnSave" value="전송" />
</form>

<hr />

@ViewBag.Answer